
.home_display{
    display: inline-flex;
    flex-direction: column;
    margin-top: 100px;
    height:100%;
    align-items: center;
    background-color:white;
}

.home_display .banner{
    width:70%;
    height:40%;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: whitesmoke;
}

/*TopPetition.js*/
.top3_format{
    display:flex;
    flex-direction: column;
    width:280px;
    height:300px;
    justify-content:flex-start;
    text-align:justify;

    background-color:whitesmoke;
    border-color: black;
    border-width: 30px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left:20px;

    word-break: break-all;
    padding:7px;

}

.home_display .top3{

    display: inline-flex;
    flex-direction: row;
    height:300px;
    margin-bottom: 50px;
    width:1000px;
    border:thin;
    border-color: tomato;
    
}
.top3_format .top_id, .top3_format.top_content{
    font-size: medium;
}
.top3_format .title{
    margin-top: 10px;
    margin-bottom: 20px;
}