.home{
    position:fixed;
    top: 0; bottom:0; right:0; left:0;
    background-color: var(--container-02);
    z-index:1000;
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;

    .main-column{
        display:flex;
        flex-flow:column nowrap;
        height: 100%;
        width: fit-content;
        justify-content: center;

        .hp-nameinput{
    
            height:fit-content;
            width:500px;
            background-color:var(--container-01);
            border-radius: 20px;
            padding:40px;
        
            .hp-logo{
                margin-bottom:80px;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            .hp-input{
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                height:150px;
                .input-name, .input-major{
                    height:60px;
                    outline:none;
                    border-radius:5px;  
                    border:solid black 1px;
                    padding:4px;
        
                    &:focus{
                        border:solid black 3px;
                    }
                }
        
            }
            .hp-login{
                padding:20px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .login-button{
                    &:enabled{
                        background-color: var(--blue-02);
                        opacity: 1;
                        cursor: pointer;
                    }
                    &:disabled{
                        background-color: var(--blue-02);
                        opacity:0.5;
                        cursor:not-allowed;
                    }
                }
            }
        }
    }

}
