
.tab{
    display:flex;
    height: 100px; /*tab height */
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
    position:fixed;
    z-index: 1;

    border-bottom: thick;
    border-color: black;
}

.tab .logo-spot{
    font-size:small;
    margin-right: 10px;
    
}
.tab .links{
    align-items: center;
    display:flex;
    width:80%;
    justify-content: center;
    flex-direction: row;

}
.tab .links .tab-home{
    width:100px;
    height:50px;
    font-size: large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor:pointer;

    margin-right: 20px;
    background-color:whitesmoke;   
    border:rgb(243, 255, 249);
    border-radius: 10px;
}
.tab .links .tab-petition{
    width:100px;
    height:50px;
    font-size: large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor:pointer;

    margin-right: 20px;
    background-color:whitesmoke;   
    border:rgb(243, 255, 249);
    border-radius: 10px;

}
.tab .links .tab-dm{
    width:150px;
    height:50px;
    font-size: large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor:pointer;
    
    background-color:whitesmoke;   
    border:rgb(243, 255, 249);
    border-radius: 10px;
}
.tab h5{
    font-size: medium;
    display:block;
}


