@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
.petition{
    
    width:904px;
    z-index: 0;;
    display: flex;
    flex-flow: row wrap;
    background-color:var(--container-02);
    position:absolute;
    justify-content: space-between;

    margin-left: 407px;
    margin-top:40px;

}


