@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
.petition{
    margin-top:100px;
    height:100%;
    width:100%;
    display: inline-flex;
    flex-direction: column;
    background-color:white;
    position:absolute;
    align-items: center;

}
/*input!*/
.petition .input{
    margin-top: 100px;
    width:fit-content;
    display:flex;
    flex-direction: row;
}
.petition .write{
    margin-left: 300px;

    width:80px;
    height:30px;
    background-color: whitesmoke;
    cursor: pointer;
    border:none;
    border-radius: 10px;
}
.petition .filter{
    width:80px;
    height:30px;
    cursor: pointer;
    background-color: whitesmoke;
    border:none;
    border-radius: 10px;
}
.petition .filter_input{
    height:100%;
    margin-left:10px;
    background-color: white;
    border:whitesmoke;
    border-width: 4px;
    border-style: solid;
    
}
.petition .filter_input:hover{
    height:100%;
    margin-left:10px;
    background-color: purple;
    border:pink;
    border-width: 4px;
    border-style: solid;
    
}
.petition .filter_input:focus{
    height:100%;
    margin-left:10px;
    background-color: red;
    border:none;
    border-style: hidden;
    
}


.petition .petitionlist{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height:fit-content;
    margin-bottom: 50px;
    width:800px;
    border:thin;
 
}

/*temp need to be modified*/
 .list-petition{
    display:flex;
    flex-direction: column;
    font-size: x-large;
    justify-content:space-between;
    padding:5px;
    text-align: center;
    align-items: center;
    height: 100px;
    border-radius:20px;
    background-color: whitesmoke;

    margin-bottom:20px;
}
.list-petition .lp-title{
    font-family: 'Nanum Gothic', sans-serif;
    font-style:italic;
    font-size:xx-large;
}
.list-petition .lp-date{
    
    font-size:x-small;
}
