*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
.Tab{
    display:flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 255, 233);
}
.Tab body{
    
}
.Tab h1{
    font-size:medium;
    margin-right: 10px;
}
.Tab button1{
    border-radius: 2px;
    border:mediumblue;

    margin-right:10px;
}
.Tab button2{
    font-size:medium;
    margin-right:10px;
}
.Tab button3{
    margin-right: 10px;
}
.Tab h5{
    font-size: medium;
}
.home,
.petition,
.dm {
    margin: 30px 0;
    text-align: center;
    
}
