
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
.petition{
    margin-top:100px;
    height:100%;
    width:100%;
    display: inline-flex;
    flex-direction: column;
    background-color:thistle;
    position:absolute;
    align-items: center;

}
/*input!*/
.petition_input{
    margin-top: 100px;
    width:fit-content;
    display:flex;
    flex-direction: row;
}
.petition_write{
    margin-left: 300px;

    width:80px;
    height:30px;
    background-color: whitesmoke;
    cursor: pointer;
    border:none;
    border-radius: 10px;
}
.petition_filter{
    width:80px;
    height:30px;
    cursor: pointer;
    background-color: whitesmoke;
    border:none;
    border-radius: 10px;
}

.petition_filter_input{
    height:100%;
    margin-left:10px;
}
/*sth need to be modified*/

.petition_petitionlist{
    display: flex;
    flex-direction: row;
    height:300px;
    margin-bottom: 50px;
    width:1000px;
    border:thin;
    border-color: tomato;
}

